<app-layout>
  <div class="container">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Group</label>
      <select class="form-control col-mg-9" id="exampleFormControlSelect1">
        <option>Parts</option>
        <option>Logistics</option>
        <option>Finance</option>
        <option>Services</option>
        <option>Factory</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select Category</label>
      <select class="form-control col-mg-9" id="exampleFormControlSelect1">
        <option>Supplier</option>
        <option>Input</option>
        <option>Process</option>
        <option>Output</option>
        <option>Customer</option>
      </select>
    </div>
  </div>

</app-layout>