<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">VOLVO | </a>
  <span class="navbar-text">S I P O C</span>
  <div class="navbar-collapse flex-column ml-lg-0 ml-3">
    <ul class="nav navbar-nav flex-row mb-12">
      <li class="nav-item">
        <a routerLink="/sipoc/home" routerLinkActive="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sipoc/projectinfo" routerLinkActive="nav-link active">Project Information</a>
      </li>
      <li class="nav-item">
          <a routerLink="/sipoc/projectdetails" routerLinkActive="nav-link active">Project Details</a>
        </li>
    </ul>
  </div>
</nav>
<ng-content>

</ng-content>