<app-layout>
  <div class="container container-fluid">
    <div class="row mb-2">
      <div class="col-lg-5">
        <button class="btn btn-primary" (click)="addProject()" type="button">Add Project</button>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            Projects
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let proj of projects" [class.selected]="proj === selectedProject"
                (click)="onSelect(proj)">
                <span class="badge">{{proj.ID}}</span> {{proj.Name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <app-projectdetail [project]="selectedProject" (voted)="getProjectsEvent($event)"></app-projectdetail>
      </div>

    </div>
  </div>
</app-layout>