<app-layout>
    <div class="container home-container">
      <h5 class="display-6">Welcome To SIPOC</h5>
      <div class="jumbotron">
        <div>
          <p>2016-11-18: New 2016 edition of the KEP 5&6</p>
          <p>The KEP 5 (Key Elements Procedures) provides information on the Volvo Group’s Environmental Policy and its
            requirements for the supplier co-operation. The new edition
            makes it clearer what the Volvo Group requires from its suppliers and the compliant supplier self-assessment
            questionnaires are updated to better cater for the
            diversity among the suppliers.</p>
          <p>The KEP 6 provides information on the Volvo Group’s requirements on ethical issues and appropriate business
            practices. As a member of the European Automotive
            Working Group on Supply Chain Sustainability and in line with general automotive industry practice, a common
            Self-assessment questionnaire has been developed to
            facilitate for the suppliers</p>
        </div>
      </div>
    </div>
  </app-layout>
  